// Sækja config
@import './config';
// Allir stílar fyrir bækur

.books {
  margin-bottom: $margin-double;

  .col {
    margin-bottom: $margin-double;
  }
}

.book {
  @include fill-container;

  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-double;
  margin-right: $margin-default;
  min-width: 160px;

  .image {
    height: 200px;
    overflow: hidden;
  }

  .image img {
    height: 200px;
    object-fit: cover;
    transition: transform $transition-300-eio;
    width: 100%;
  }

  &:hover .image img {
    transform: scale(1.3);
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: $margin-half;
  }

  h4 {
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: $margin-default;
    text-transform: uppercase;
  }

  .buy {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .buy .price {
    margin-right: 0.5rem;
  }
}

.book > {
  .content {
    border: 1px solid;
    border-top: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
  }
}
