// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg

$black: #000000;
$white: #eeeeee;
$light-gray: #cccccc;
$gray: #999999;
$dark-gray: #222222;

$margin-half: 0.5rem;
$margin-default: 1rem;
$margin-double: 2rem;

$transition-300-eio: 300ms ease-in-out;

$max-width: 1400px;

$small-device: 499px;
$medium-device: 799px;

@mixin fill-container {
  height: 100%;
  width: 100%;
}