// Sækja config
@import './config';
// Allir stílar fyrir events

.events {
  margin-bottom: $margin-double;

  .col {
    margin-bottom: $margin-double;
  }
}

.event {
  position: relative;
  
  @include fill-container;
  min-height: 250px;

  background-color: $light-gray;

  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  h3 {
    margin-bottom: $margin-default;
  }

  p {
    margin-bottom: $margin-default;
    font-style: italic;
  }

  ul {
    list-style: none;
    font-style: italic;
  }

  .card {
    position: absolute;
    display: flex;
    left: 0; right: 0; top: 0; bottom: 0;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
  }

  &:hover .card {
    transform: rotateY(180deg);
  }

  .face {
    position: absolute;
    @include fill-container;
    backface-visibility: hidden;
    padding: 0.5rem;
  }

  .face.back {
    transform: rotateY(180deg);
  }

  .front {
    display: flex;
  }

  .front h3 {
    margin: auto;
    font-size: 2em;
    text-align: center;
  }

  .back {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}