// Sækja config
@import './config';
// Allir stílar fyrir events

.events {
  margin-bottom: $margin-double;

  .col {
    margin-bottom: $margin-double;
  }
}

.event {
  @include fill-container;

  background-color: $light-gray;
  min-height: 250px;
  position: relative;
  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  h3 {
    margin-bottom: $margin-default;
  }

  p {
    font-style: italic;
    margin-bottom: $margin-default;
  }

  ul {
    font-style: italic;
    list-style: none;
  }

  .card {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
  }

  &:hover .card {
    transform: rotateY(180deg);
  }

  .face {
    @include fill-container;

    backface-visibility: hidden;
    padding: 0.5rem;
    position: absolute;
  }

  .face.back {
    transform: rotateY(180deg);
  }

  .front {
    display: flex;
  }

  .front h3 {
    font-size: 2em;
    margin: auto;
    text-align: center;
  }

  .back {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}
